  body{
  background-color: black;
  text-align: center;
  font-weight: bold;
  font-family: serif;
  font-size: 28px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  position: relative;
  top: -40px;
}
a:link{
    color: green;
}
.header{
  margin-top:0;
  padding-top:0;
  color: white;
  background-color: blue;
  width: 100%;
  height: 150px;
}
#title{
  position: relative;
  top: 45px;
}
.players{
  text-align: left;
  position: absolute;
  top: 40px;
  left: 50px;
}
#categories{
  width:100%;
  border-collapse: separate;
  border-spacing: 5px 15px;;
}
#prices{
  width:100%;
  border-collapse: separate;
  border-spacing: 5px;
}
th, td{
  background-color: blue;
  width: 16%;
  word-break: break-word;
}
th{
  color: white;
  height: 100px;
}
td{
  color: yellow;
  height: 80px;
}
td:hover {
  border: 2px solid yellow;
  height: 76px;
}
.button, #player-select{
  diplay: none;
  position: relative;
  top: 120px;
  float: left;
  left: 40.5%;
  margin: 10px;
  font-size: 20px;
}
#player-select{
  float: none;
  left: 46%
}
#correct{
  background-color: green;
}
#incorrect{
  background-color: red;
}
#question{
  display: none;
  width: 96%;
  margin: 1.3%;
  height: 600px;
  font-size: 2.2em;
  border: 0.7vw solid black;
  background-color: blue;
  z-index: 1;
  position: absolute;
  top: 120px;
  color: white;
}
#text{
  position: relative;
  top: 50px;
}
#timer{
  font-size: 40px;
  text-align: right;
  position: relative;
  right: 50px;
}
.score{
  color: white;
  text-align: left;
  position: absolute;
  font-size: 40px;
  left: 80%;
  top: 5px;
}
#score1, #score2, #score3{
  margin: 0;
}
#reward{
  display: none;
  width: 40%;
  height: 200px;
  position: absolute;
  top: 200px;
  left: 30%;
  color: black;
  background-color: green;
  text-align: center;
}
