html, body {
    max-width: 100%;
    overflow-x: hidden;
}
h1{
  color: "blue";
  position: relative;
}
body{
  background-color: #96C0EB;
  text-align: center;
}
#name{
  position: relative;
  top: -1em;
}
#firstImg{
  height: 33vh;
  position: absolute;
  left: 34vw;
}
#message{
  position: relative;
  top: 80px;
  font-size: 20px;
  left: 300px;
}
#top-line{
  height: 35vh;
}
#easter-egg{
  font-size: 0.2vw;
  position: absolute;
  right: 10px;
  top: 96vh;
  margin: 10px;
}
#slideshow{
  width: 90vw;
  overflow-x: hidden;
  overflow-y:visible;
  position: absolute;
  left: 5vw;
  height: 20vw;
  padding: none;
  margin: none;
}
.slideshow-img{
  position: absolute;
  height: 20vw;
  display: none;
}
.balloon{
    position: absolute;
    top: 100px;
    height: inherit;
}
#b1{
  position: absolute;
  left: 100px;
}
#b2{
  position: absolute;
  right: 100px;
}
.cupcake{
  position: absolute;
  width: 10vw;
  top: 32vh;
}
#c1{
  left: 32vw;
}
#c2{
  left: 58vw;
}
